<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/stylesheets/style.css" />
    <title>Video Game Review</title>
</head>
<body>
    <h1 class="bk">B.K. Randy Reviews</h1>
    <h2>Saluations. Welcome to B.K.Randy Reviews. </h2>
    <a href="/reviews/new">Add Review Here</a>
    <a href="/reviews">Reviews Page</a>
</body>
</html>