<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" />
    <title>MetaReviews</title>
</head>
<body>
    <div class="main-container">
    <header>
        <h1>MetaReviews</h1>
        <a href="/reviews" class="review-page"><u>Reviews</u></a>
        <!-- <a href="/reviews/new">Add Review</a> -->
    </header>
    <main class="page-container">
    <h2>Saluatations. Welcome to MetaReviews. Feel free to leave a video game review of your choosing for our community to read. Or just browse the review library we have of other gamers. Game on!</h2>
    <fieldset>
    <form id="new-form" action="/reviews" method="POST">
        <label>Game Title:</label>
        <input type="text" name="title">
        <br>
        <label>Developer:</label>
        <input type="text" name="developer">
        <br>
        <label>Release Year:</label>
        <input type="text" name="releaseYear">
        <br>
        <label>Genre:</label>
        <input type="text" name="genre">
        <br>
        <label>Rating:</label>
        <select name="rating">
          <option value="1">1</option>
          <option value="1.5">1.5</option>
          <option value="2">2.0</option>
          <option value="2.5">2.5</option>
          <option value="3">3</option>
          <option value="3.5">3.5</option>
          <option value="4">4</option>
          <option value="4.5">4.5</option>
          <option value="5">5</option>
          <option value="5.5">5.5</option>
          <option value="6">6</option>
          <option value="6.5">6.5</option>
          <option value="7">7</option>
          <option value="7.5">7.5</option>
          <option value="8">8</option>
          <option value="8.5">8.5</option>
          <option value="9">9</option>
          <option value="9.5">9.5</option>
          <option value="10">10</option>
        </select>
        <label>Written Review:</label>
        <!-- <input type="text" name="review"> -->
        <textarea type="text" name="review"></textarea>
        <br>
        <label>Your Name:</label>
        <input type="text" name="author">
        <br>
        <input type="submit" value="Add Review" class="btn btn-primary">

      </form>
      </fieldset>
    </main>
    
    <footer>
        <p class="footer"><strong>Copyright &copy; All Rights Reserved 2021 MetaReviews</strong></p>
    </footer>
    </div>
</body>
</html>