<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Edit a Review</title>
</head>
<body>
    <h1>This is the Edit Page</h1>
    <a href="/">Home Page</a>
    <h2>Edit Review: <%= review.title %></h2>

    <form action="/reviews/<%= review._id %>?_method=Put" method="post">
        <input type="text" name="title" value="<%= review.title %>">
        <button type="submit">Edit Review</button>
    </form>

</body>
</html>